<script>
  window.landingLatitude = <%= @coordinates[0] %>;
  window.landingLongitude = <%= @coordinates[1] %>;
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDcgmjQMh77M_6_u3k0z1ymYgeEIrENHM&libraries=places&callback=resultsGoogleInit" async defer></script>

<body data-js="results">
<%= render 'shared/navigation' %>

<section id="map" class="results-map-container">
  <!--Google map rendered here-->
</section>

<section class="results-container">
  <ul class="filters-list clearfix">
    <li class="filter">
      <label for="start_date">Begin</label>
      <%= date_field_tag :start_date, @start_date %>
    </li>
    <li class="filter">
      <label for="end_date">End</label>
      <%= date_field_tag :end_date, @end_date %>
    </li>
    <li class="filter">
      <label for="duration">Duration</label>
      <select id="duration" name="duration">
        <option value="any">Any</option>
        <option value="0.5">30 minutes</option>
        <option value="1">1 hour</option>
        <option value="1.5">1.5 hours</option>
        <option value="2">2 hours</option>
        <option value="2.5">2.5 hours</option>
        <option value="3">3 hours</option>
        <option value="3.5">3.5 hours</option>
        <option value="4">4 hours</option>
        <option value="4.5">4.5 hours</option>
        <option value="5">5 hours</option>
        <option value="5.5">5.5 hours</option>
        <option value="6">6 hours</option>
        <option value="6.5">6.5 hours</option>
        <option value="7">7 hours</option>
        <option value="7.5">7.5 hours</option>
        <option value="8">8 hours</option>
        <option value="8.5">All day</option>
      </select>
    </li>
    <li class="filter">
      <label for="size-of-kitchen">Size</label>
      <select id="size-of-kitchen" name="size-of-kitchen">
        <option value="any">Any</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
    </li>
  </ul>

  <ul class="results-list">

  </ul>

</section>

</body>
