<!-- <body data-js="results"> -->
<%= render 'shared/navigation' %>

<section id="map" class="results-map-container">

  <!-- Google Maps API -->
  <script>
    // TODO: externalize this into its own module, separate js file
    var map;
    var infowindow;

    function initialize() {

      /* Autocomplete section */
      var options = {
        types: ['(cities)'],
        componentRestrictions: { country: "GB" }
      }
      var input = document.getElementById('pac-input');
      var autocomplete = new google.maps.places.Autocomplete(input, options);

      /* Google Maps section */
      var cntr = { lat: <%= @latitude %>, lng: <%= @longitude %> };


      map = new google.maps.Map(document.getElementById('map'), {
        center: cntr,
        zoom: 14
      });

      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.nearbySearch({
        location: cntr,
        radius: 500,
        type: ['store']
      }, callback);

      function callback(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          <% @nearbyKitchens.each do |kitchen| %>
            var coordinates = {lat: <%= kitchen.coordinates[1] %>, lng: <%= kitchen.coordinates[0] %>};
            createMarker(coordinates);
          <% end %>
        }
      }

      function createMarker(coordinates) {
        var marker = new google.maps.Marker({
          position: coordinates,
          map: map
        });
      }

      // google.maps.event.addListener(marker, 'click', function() {
      //   infowindow.setContent(place.name);
      //   infowindow.open(map, this);
      // });

    }

  </script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDcgmjQMh77M_6_u3k0z1ymYgeEIrENHM&libraries=places&callback=initialize" async defer></script>

</section>
<section class="results-container">
  <ul class="filters-list clearfix">
    <li class="filter">
      <label for="begin-date">Begin</label>
      <input name="begin-date" id="begin-date" type="date">
    </li>
    <li class="filter">
      <label for="end-date">End</label>
      <input name="end-date" id="end-date" type="date">
    </li>
    <li class="filter">
      <label for="duration">Duration</label>
      <select id="duration" name="duration">
        <option value="any">Any</option>
        <option value="0.5">30 minutes</option>
        <option value="1">1 hour</option>
        <option value="1.5">1.5 hours</option>
        <option value="2">2 hours</option>
        <option value="2.5">2.5 hours</option>
        <option value="3">3 hours</option>
        <option value="3.5">3.5 hours</option>
        <option value="4">4 hours</option>
        <option value="4.5">4.5 hours</option>
        <option value="5">5 hours</option>
        <option value="5.5">5.5 hours</option>
        <option value="6">6 hours</option>
        <option value="6.5">6.5 hours</option>
        <option value="7">7 hours</option>
        <option value="7.5">7.5 hours</option>
        <option value="8">8 hours</option>
        <option value="8.5">All day</option>
      </select>
    </li>
    <li class="filter">
      <label for="size-of-kitchen">Size</label>
      <select id="size-of-kitchen" name="size-of-kitchen">
        <option value="any">Any</option>
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
    </li>
  </ul>

  <!--TODO replace this with real data-->
  <ul class="results-list">
    <li class="result">
      <a class="result-link" href="">
        <h2 class="result-title">Large Kitchen In Downtown</h2>
        <h2 class="result-price-container">
          <span class="result-price">£230</span>
          <span class="result-price-after">/night</span>
        </h2>
      </a>
    </li>
    <li class="result">
      <a class="result-link" href="">
        <h2 class="result-title">Large Kitchen In Downtown</h2>
        <h2 class="result-price-container">
          <span class="result-price">£230</span>
          <span class="result-price-after">/night</span>
        </h2>
      </a>
    </li>
    <li class="result">
      <a class="result-link" href="">
        <h2 class="result-title">Large Kitchen In Downtown</h2>
        <h2 class="result-price-container">
          <span class="result-price">£230</span>
          <span class="result-price-after">/night</span>
        </h2>
      </a>
    </li>
    <li class="result">
      <a class="result-link" href="">
        <h2 class="result-title">Large Kitchen In Downtown</h2>
        <h2 class="result-price-container">
          <span class="result-price">£230</span>
          <span class="result-price-after">/night</span>
        </h2>
      </a>
    </li>
    <li class="result">
      <a class="result-link" href="">
        <h2 class="result-title">Large Kitchen In Downtown</h2>
        <h2 class="result-price-container">
          <span class="result-price">£230</span>
          <span class="result-price-after">/night</span>
        </h2>
      </a>
    </li>
    <li class="result">
      <a class="result-link" href="">
        <h2 class="result-title">Large Kitchen In Downtown</h2>
        <h2 class="result-price-container">
          <span class="result-price">£230</span>
          <span class="result-price-after">/night</span>
        </h2>
      </a>
    </li>
  </ul>
</section>

</body>
