<body class="information-body">
<%= render("shared/menu") %>
<main class="terms-main-information-section">
<h1><u>Terms of Use</u></h1>

<section>
  <h2><strong>1. Introduction</strong></h2>
  <p>
    Share Dining Limited (“<strong>ShareDining</strong>”, “<strong>we</strong>”, “<strong>us</strong>”, or “<strong>our</strong>”) provides a facilitation service and an online platform (the “<strong>Service</strong>”) that connects owners (“<strong>Owner</strong>”, “<strong>you</strong>” or “<strong>your</strong>” as appropriate) who list part or all of their kitchen or property (each a “<strong>Space</strong>”) for booking short periods of time by renters (“<strong>Renter</strong>”, “<strong>you</strong>” or “<strong>your</strong>” as appropriate). The Service is provided through our website www.sharedining.co.uk (the “<strong>Website</strong>”) and persons who register and use the Website for the Service understand and agree to these terms and conditions and understand that (a) ShareDining is not a party to any agreements entered into between Owners and Renters for facilitating use of a Space (a “<strong>Booking</strong>”); and (b) ShareDining has no control over any Booking made through the Website or takes any responsibility for such Booking.
    We have the right to change these terms and conditions and we will always give you reasonable notice of any changes. Please refer to the Website for our latest copy of these terms and conditions.
  </p>
</section>

<section>
  <h2>2. Definitions of other terms</h2>
  <p>
    In these the Terms of Use, the following words or expressions have the meanings set out opposite:
    <ul>
      <li>
        <strong>“Booking Fee”</strong> means the fee agreed between an Owner and a Renter for the use of the Space on a Booking;
      </li>
      <li>
        <strong>"Booking Availability Period"</strong> means the time after a Booking Request has been submitted for a Space and before the Booking Request expires.
      </li>
      <li>
        <strong>“Booking Request”</strong> means a request made by a Renter for a Booking;
      </li>
      <li>
        <strong>"Service Misuse"</strong> means using the Website and/or Service to contract with an Owner or Renter (as the case may be) in relation to the use of Space without completing such contract through the Website.
      </li>
      <li>
        <strong>"Content"</strong> means text, graphics, images, electronic conversations or other materials;
      </li>
      <li>
        <strong>"Effective Time"</strong> means the time when the Renter pays for the Booking.
      </li>
      <li>
        <strong>"Fraud"</strong> means fraud, dishonesty and includes knowingly supplying incorrect information to ShareDining and/or the Website, and knowingly benefiting from the Fraud or Misconduct of another user of the Website.
      </li>
      <li>
        <strong>"Renter Fee"</strong> means the percentage of the Booking Fee charged by ShareDining to the Renter as calculated by ShareDining from time to time.
      </li>
      <li>
        <strong>"Owner Cancellation"</strong> has the meaning in the section of these Terms of Use on cancellations;
      </li>
      <li>
        <strong>"Owner Cancellation Charge"</strong> has the meaning in the section of these Terms of Use on cancellations;
      </li>
      <li>
        <strong>"Owner Fee"</strong> means the percentage of the Booking Fee charged by ShareDining to the Owner as calculated by ShareDining from time to time.
      </li>
      <li>
        <strong>"List"</strong> means to make a Space available on the Website.
      </li>
      <li>
        <strong>"Listing"</strong> means making a Space available on the Website;
      </li>
      <li>
        <strong>"Misconduct"</strong> means:
        <ul>
          <li>failing to comply with these Terms of Use or any Usage Agreement;</li>
          <li>causing damage whilst using any Owner’s property and/or Space(s);</li>
          <li>behaving in an offensive manner to our staff or any Owner or Renter;</li>
          <li>misusing electronic communications, including the use of spam, automated software to collect data from the Website, offensive language or offensive content;</li>
          <li>generating offensive, illicit or unlawful Content or data;</li>
          <li>copying or storing Content or data taken from the Website;</li>
          <li>infringing any rights of any other users of the Website;</li>
          <li>using the Website to sell any goods or service other than offering Space(s) for usage by other users and the provision of any item connected with a Booking through the Website;</li>
          <li>using the Website and/or Service in a manner that is not for the intended purpose of Owners providing Renters with the use of their Space(s) for short periods of time as determined by ShareDining in our absolute discretion; and</li>
          <li>Service Misuse.</li>
        </ul>
      </li>
      <li>
        <strong>"Photography Charge"</strong> has the meaning given in the section of these Terms of Use on photography;
      </li>
      <li>
        <strong>"Tax" or "Taxes"</strong> mean any sales taxes, value added taxes, goods and services taxes, income tax or other taxes that may arise in relation to a Booking;
      </li>
      <li>
        <strong>"Usage Agreement"</strong> means the agreement between an Owner and a Renter for usage of a Space or Spaces in respect of a Booking and including standard terms as set out <a href="<%= landing_usage_agreement_path %>">here</a>, together with such other terms and conditions agreed between the parties at the time of confirming the Booking (including, but not limited to the Booking Fee); and
      </li>
      <li>
        <strong>"ShareDining Content"</strong> means all Content that ShareDining makes available through the Website.
      </li>
      <li>
        <strong>"Your Content"</strong> means all Content published by you on the Website and/or supplied for publication through the Service.
      </li>
    </ul>
    When we use the words ‘electronic’ or ‘electronically’ in this agreement we mean any form of message made by any type of telecommunication, digital or information technology device (including the internet, digital television, email and text message).
  </p>
</section>

<section>
  <h2>3. How the Website and Service works</h2>
  <ul>
    <li>These Terms of Use cover the use of the Website, together with our <a href="<%= landing_privacy_policy_path %>">privacy policy</a> and <a href="<%= landing_cookie_policy_path %>">cookie policy</a>.</li>
    <li>By using the Website and/or any part of the Service you agree to these Terms of Use.</li>
    <li>If you agree to these Terms of Use on behalf of a company or other legal entity you are representing and warranting to us that you have authority to bind such legal entity to these Terms and any reference to Owner, Renter, you or your (as the case may be) will apply to that company or other legal entity, and you acknowledge that we are relying on such representation.</li>
    <li>As stated, the Website can be used to facilitate the listing and booking of a kitchen and other property and/or Space for short term usage between Owners and Renters. Such usage is made available by an Owner (having registered as above) listing a Space with us or on the Website which will include, but not be limited to, the location, size, inventory, amenities, availability and Booking Fee for the usage of the Space(s). All users of the Website may view Listings as an unregistered visitor to the Website however, if a visitor wishes to book usage of a Space or Spaces, they must first register to create an account with ShareDining, including satisfying ShareDining and/or the Owner as to their identity.</li>
    <li>The Website is a platform for Renters and Owners to meet online and arrange for Bookings directly with each other through the Website. <strong>We are not an owner or operator of properties and our role is limited to making the Website available, providing the Service and acting as a payment collection agent on behalf of Owners. ShareDining is not a party to any agreement between an Owner and Renter for the usage of a Space or Spaces</strong>.</li>
    <li>We accept no liability or responsibility for the accuracy of information provided on the Website by Owners, and Owners acknowledge and agree that they are responsible for any and all Content and their respective Listings. By making a Listing each Owner represents and warrants that any Content and or Listing provided by them (i) will not breach any existing agreements entered into by the Owner with any third parties, such as a lease or articles of association; and (ii) will be in compliance with relevant local laws. <strong>ShareDining has no responsibility for Owners complying with existing legal requirements as outlined above</strong>.</li>
    <li>In order to deliver the Service (such as to confirm a Booking or verify your identity), we may contact you by telephone, electronically or post using the contact details provided by you (including any electronic address that we agree with you will be used to send you electronic communications). When we use the words ‘electronic’ or ‘electronically’ in this agreement we mean any form of message made by any type of telecommunication, digital or information technology device (including the internet, digital television, email and text message).</li>
    <li>You must tell us if your name or contact details change. If you do not tell us, we will continue to use the details you last gave us, and we will not be responsible if we fail to contact you or if we send confidential information to the wrong address using out of date details.</li>
    <li>We recommend that Owners obtain appropriate insurance for their property before accepting Bookings. We encourage all Owners to review any insurance policy that they may have for their property and ensure that they are adequately covered for Bookings.</li>
    <li>We may negotiate an insurance policy which is available for Owners who use the Service to insure their kitchens and/or property for Bookings and we will notify all Owners of the availability of such insurance. If you choose to use an insurance policy negotiated by ShareDining, you recognise that ShareDining does not act as an insurer, but as an intermediary and/or a master policy holder for such insurance, but you will be the insured person. In the event of a claim, you will make your claim from the insurer.</li>
  </ul>
</section>

<section>
  <h2>4. Registration</h2>
  <p>
    All Owners and Renters who wish to use the Service are required to register for the Service by using the Website. In using the Service, you agree to provide us with current, accurate and complete information as part of your registration and you will update us of any changes to ensure such information remains current, accurate, and complete. We will create your ShareDining account and a profile page for your use of the Website based upon the personal information you provide to us. You may not have more than one ShareDining account and we reserve the right to terminate or suspend your account and deny you access to the Website should you create more than one account or in the event any information provided by you proves to be not current, inaccurate, or incomplete.
  </p>
</section>

<section>
  <h2>5. Eligibility</h2>
  <p>
    Unless otherwise agreed, only persons who are 18 or older are eligible to use the Service and any access to or use of the Services by anyone under 18 is expressly prohibited. All Owners and Renters using the Website and the Service represent and warrant that they are 18 or older.
  </p>
</section>

<section>
  <h2>6. Property Responsibility</h2>
  <p>
    Responsibility for ensuring a property is appropriate for a Booking is at all times the responsibility of the respective Owner. Each Owner and Renter using the Service acknowledges that ShareDining is not qualified to provide advice on health and safety or fire risk matters. Each Owner is responsible for their property’s compliance with any Health &amp; Safety regulations and/or other legal requirements.
  </p>
  <p>
    Each Owner also warrants that he or she has authority for their property to be let and/or licensed to Renters.
  </p>
</section>

<section>
  <h2>7. Photography</h2>
  <p>
    As part of the Listing process, all Owners will be required to post photographs of their Space or Spaces. All photographs relating to your property used on the ShareDining website must reflect accurately the nature and extent of the Spaces available; ensuring the photographs are accurate is the responsibility of the respective Owner.
  </p>
  <p>
    In the event, you remove your Space(s) from the Website, we will store the photographs for 6 months in case you decide to re-list your Space(s). If you do not re-list your Space(s), we will delete the photos at this time. If you would like us to remove the photographs sooner, please let us know.
  </p>
  <p>
    <strong>Consent to use of Photos – Own Upload</strong>
    <br/>
    If you choose to upload your own personal images to the Website you are granting us a licence in all jurisdictions to use and publish the images to market your property and/or Space on our website and across our social media channels including Twitter, Facebook, Instagram and LinkedIn.
  </p>
  <p>
    <strong>Consent to use of photos – Use of ShareDining photographer</strong>
    <br/>
    If requested by you, we will arrange for a professional photographer to take appropriate photographs of your property and/or Space for listing on the Website. The copyright in these photographs will belong to us and we will use these images on our website to promote your property and/or Space, across our social media channels (including Twitter, Facebook, Instagram and LinkedIn) and in media promotions. If you do not wish your pictures to be used for any or all of these purposes, please let us know by contacting us at support@sharedining.co.uk.
    <br/>
    There is a cost to this professional photography service and we are happy to pay this cost providing you use the Service. In the event that your Space is not made available on the ShareDining website for a reasonable length of time following the photography, or you cancel the appointment with the photographer at short notice, you will be liable for this cost (including any cancellation charge) (“<strong>Photography Charge</strong>”) and we reserve the right to either (a) invoice you in respect of such Photography Charge (with payment due within 14 days of the respective invoice being issued); or (b) deduct such amount from any payment card we may hold from you.
  </p>
</section>

<section>
  <h2>8. Your Content</h2>
  <p>
    You acknowledge and agree that you are solely responsible for your Content generated and published on the Website or directly to any users of the Website or the Service. ShareDining reserves the right to remove or amend any Content generated by you and published on the Site.
  </p>
  <p>
    You confirm that you are the sole owner of any information or Content posted by you and published to the Website. In providing Your Content for the use of the Service, you hereby grant to ShareDining an irrevocable and non-exclusive worldwide licence for such content.
  </p>
  <p>
    We are not liable for any loss arising in relation to any of Your Content. In the event that ShareDining suffers any loss in relation to Your Content you are liable and indemnify ShareDining in respect of such loss.
  </p>
</section>

<section>
  <h2>9. Bookings, Fees, and Payments</h2>
  <p>
    <strong>Owners</strong>
    <br/>
    If, as an Owner, a booking is requested for your Space(s) through the Website you will be asked to approve or decline the Booking Request within the Booking Availability Period. If you choose to decline a Booking Request we will inform the Renter that there is no confirmed booking. If you do not confirm the Booking Request within the Booking Availability Period, the booking request may expire unless otherwise agreed. If you choose to confirm a Booking Request by a Renter, ShareDining will confirm the Booking with you and request payment from the Renter for the Booking. The Usage Agreement will be binding from the Effective Time.
    <br/>
    We will act as a payment collection agent of the Owner for any Booking and will accept payments of the Booking Fee from Renters on behalf of the relevant Owner. We will charge Owners the Owner Fee for any Booking made through the Website as consideration for providing the Service and the use of the Website. Within 2 business days following completion of the Booking and providing we have received payment details for the Owner, we will transmit payment to the Owner of the Booking Fee, less the Owner Fee.
  </p>
  <p>
    <strong>Renters</strong>
    <br/>
    If you are a Renter and you choose to enter into a Booking, you agree and understand that you will be required to enter into a Usage Agreement with the Owner in respect of that Booking and you agree to accept any terms, conditions, rules and restrictions associated with the Usage Agreement. You agree to pay the Booking Fee, together with any Renter Fee to ShareDining (acting on behalf of the Owner) at the Effective Time.
  </p>
  <p>
    <strong>Payment Providers</strong>
    <br/>
    Owners and Renters will be required to provide their payment card details and/or bank account details to ShareDining and/or a third party payment service provider retained by the Company (the “<strong>Payment Provider</strong>”) for payment for Bookings. This may require registering with the Payment Provider and agreeing to any terms of service of the Payment Provider.
    <br/>
    In the event details are provided to the Payment Provider, please note that ShareDining is not a party to any agreement between you and the Payment Provider.
  </p>
</section>

<section>
  <h2>10. Cancellation</h2>
  <p>
    <strong>Renter Withdrawal</strong>
    <br/>
    A Renter may withdraw a Booking Request at any time before the Effective Time and ShareDining will cancel the Booking Request. Bookings cannot be cancelled by a Renter after the Effective Time other than with the consent of the Owner. In the event of such cancellation (and regardless of whether or not the Owner agrees to refund the Booking Fee to the Renter in the event of such cancellation), the Renter Fee on the Booking Fee will be payable to ShareDining and will not be refunded to the Renter.
  </p>
  <p>
    <strong>Owner Cancellations</strong>
    <br/>
    An Owner may cancel a Booking up until the commencement of the Booking. If an Owner cancels a Booking after the Effective Time (an <strong>Owner Cancellation</strong>), ShareDining will refund the Booking Fee and the Renter Fee to the Renter for such Booking within a commercially reasonable time of the cancellation. In the event of an Owner Cancellation, the Owner will be liable to ShareDining for the Owner Fee and Renter Fee (together the <strong>Owner Cancellation Charge</strong>). The Owner authorises ShareDining to set off any outstanding Owner Cancellation Charge owed to ShareDining from the proceeds of any subsequent successful Bookings.
  </p>
  <p>
    <strong>ShareDining Cancellations</strong>
    <br/>
    In certain circumstances, ShareDining may decide in its absolute discretion, that it is necessary to cancel a Booking (for example, but not in any way limited to, reasons of security, criminal activity or following an event that is outside ShareDining’s control). Renters and Owners agree that ShareDining will not have any liability for any such cancellation and neither Renter Fee nor Owner Fee will be payable in the event of such a cancellation.
  </p>
</section>

<section>
  <h2>11. Account Deactivation</h2>
  <p>
    We may terminate this agreement and deactivate your account without notice, and terminate your right to use the Website as an Owner or a Renter in the event of:
    <ul>
      <li>inactivity of your account for a period of 2 years;</li>
      <li>the death of an Owner or a Renter;</li>
      <li>any breach of these Terms of Use; or</li>
      <li>if we reasonably believe that you have committed an act of Service Misuse, Fraud or Misconduct against us or any Owner or Renter.</li>
    </ul>
    We may also terminate this agreement and deactivate your account if you request to receive communications from us in a manner or form that is not possible for us to deliver the Service to you.
  </p>
</section>

<section>
  <h2>12. Indemnity</h2>
  <p>
    In the event of a deactivation for Service Misuse, Fraud or Misconduct, you shall be liable and indemnify us for any loss arising as a result of such Fraud, Service Misuse and/or Misconduct including but not limited to loss of revenue and/or profits, legal fees and other costs.
  </p>
  <p>
    Where we have reasonable grounds for suspecting that you have engaged in Service Misuse, you shall be liable and indemnify us for the respective Owner Fee or Renter Fee (as appropriate) as though the transaction had been made through the Website and we reserve the right to: (a) invoice you for the respective Owner Fee or Renter Fee (as appropriate and with payment due within 14 days of the respective invoice being issued); or (b) deduct such amount from any payment card we may hold from you.
  </p>
</section>

<section>
  <h2>13. Tax</h2>
  <p>
    Owners understand and agree that they are solely responsible for determining any applicable Tax arising from the Booking Fee, Taxes that should be included in the Booking Fee, any reporting requirements relating to Tax and payment of any Tax to the relevant authority. ShareDining does not at any time offer Tax-related advice to any Owners or Renters.
  </p>
  <p>
    ShareDining reserves the right to issue a valid VAT invoice to Renters and Owners as may be necessary or applicable
  </p>
</section>

<section>
  <h2>14. Damage</h2>
  <p>
    Renters must leave any property and/or Space(s) used during a Booking in the condition as at the commencement of the Booking, and accept that they are responsible for any damage arising during the course of a Booking. Renters are also responsible for any damage caused by individuals who may be invited to the property and/or Space(s) during a Booking by the relevant Renter. Each Renter agrees to pay the cost of any damaged items including the cost of any replacement with an equivalent item. Upon being notified of a claim and given 72 hours to respond, the payment for such damage will be charged to and deducted from any payment card details held by ShareDining and/or the Payment Provider. In the event that recovery is not possible for any reason, we will issue an invoice in respect of the damage with payment for such damage due within 14 days of the invoice being issued.
  </p>
  <p>
    Renters and Owners involved in a Booking agree to assist ShareDining in good faith and take all reasonable action as may be requested by ShareDining, in connection with any claims or complaints made by an Owner and/or a Renter.
  </p>
</section>

<section>
  <h2>15. Limitation of Liability</h2>
  <p>
    We are not liable for any loss arising in relation to a Booking. Any contractual, tortious or other liability relating to a Booking is between the relevant Owner and Renter.
  </p>
  <p>
    We will not be liable for any loss resulting from providing the Service, except for loss caused by our own negligence or wilful misconduct. In the event that we are liable, the limit of our liability shall be the value of the relevant Booking.
  </p>
  <p>
    We will not be liable in relation to an Owner’s property including, but not limited to, any loss arising in connection with the safety, suitability or usage of the property.
  </p>
</section>

<section>
  <h2>16. Mediation</h2>
  <p>
    Should a dispute arise between an Owner and a Renter in relation to a Usage Agreement, the Owner and Renter agree to use best endeavours to resolve such dispute and appoint us to mediate any dispute that arises. Any mediation undertaken by us shall be non-binding and you hereby release us from any and all liability in connection with such dispute and agree that we will not be liable or responsible in any way in respect of that dispute.
  </p>
</section>

Updated and binding from 15th May 2016
</main>

<%= render("shared/footer") %>
</body>
