<%= link_to conversation.subject, conversation_path(conversation) %>

<div class="pull-right">
  <% if conversation.is_trashed?(current_user) %>
    <%= button_to 'Restore', restore_conversation_path(conversation), method: :post %>
  <% else %>
    <%= button_to 'Move to trash', conversation_path(conversation), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% if conversation.is_unread?(current_user) %>
      <%= button_to 'Mark as read', mark_as_read_conversation_path(conversation), method: :post %>
    <% end %>
  <% end %>
</div>

<p><%= conversation.last_message.body %>
  (<%= conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S") %>)</p>
