<div class="multiple-reservation-modal modal" role="dialog" aria-labelledby="reservation-modal-title" aria-describedby="reservation-modal-description">
  <h1 id="reservation-modal-title" class="modal-title">Recurring Reservation</h1>
  <h2 id="reservation-modal-description" class="modal-tagline">Book kitchens regularly</h2>
  <br>
  <%= form_for @reservation, url: kitchen_reservation_new_path(@kitchen, @reservation), html: {method: :post, class: "listing-dates-form"} do |f| %>
    <%= f.hidden_field :multiple, value: true %>
    <label class="listing-date-label" for="start_date">Start Date</label>
    <%= f.date_field :start_date, value: Date.today, class: "listing-start-date" %>
    <br/><br>
    <label class="listing-date-label" for="start_date">End Date</label>
    <%= f.date_field :end_date, value: Date.today + 7, class: "listing-start-date" %>
    <br/><br>
    <ul class="day-availability-list">
      <li class="day-availability-list-element">
        <h2>Sunday</h2>
        <% if @availability.sunday != [] %>
          <%= f.time_select :sunday_start_time, minute_step: 30, start_hour: @availability.sunday[0].to_i, end_hour: @availability.sunday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :sunday_end_time, minute_step: 30, start_hour: @availability.sunday[0].to_i, end_hour: @availability.sunday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
      <br/>

      <li class="day-availability-list-element">
        <h2>Monday</h2>
        <% if @availability.monday != [] %>
          <%= f.time_select :monday_start_time, minute_step: 30, start_hour: @availability.monday[0].to_i, end_hour: @availability.monday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :monday_end_time, minute_step: 30, start_hour: @availability.monday[0].to_i, end_hour: @availability.monday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
      <br/>

      <li class="day-availability-list-element">
        <h2>Tuesday</h2>
        <% if @availability.tuesday != [] %>
          <%= f.time_select :tuesday_start_time, minute_step: 30, start_hour: @availability.tuesday[0].to_i, end_hour: @availability.tuesday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :tuesday_end_time, minute_step: 30, start_hour: @availability.tuesday[0].to_i, end_hour: @availability.tuesday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
      <br/>

      <li class="day-availability-list-element">
        <h2>Wednesday</h2>
        <% if @availability.wednesday != [] %>
          <%= f.time_select :wednesday_start_time, minute_step: 30, start_hour: @availability.wednesday[0].to_i, end_hour: @availability.wednesday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :wednesday_end_time, minute_step: 30, start_hour: @availability.wednesday[0].to_i, end_hour: @availability.wednesday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
      <br/>

      <li class="day-availability-list-element">
        <h2>Thursday</h2>
        <% if @availability.thursday != [] %>
          <%= f.time_select :thursday_start_time, minute_step: 30, start_hour: @availability.thursday[0].to_i, end_hour: @availability.thursday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :thursday_end_time, minute_step: 30, start_hour: @availability.thursday[0].to_i, end_hour: @availability.thursday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
      <br/>

      <li class="day-availability-list-element">
        <h2>Friday</h2>
        <% if @availability.friday != [] %>
          <%= f.time_select :friday_start_time, minute_step: 30, start_hour: @availability.friday[0].to_i, end_hour: @availability.friday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :friday_end_time, minute_step: 30, start_hour: @availability.friday[0].to_i, end_hour: @availability.friday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
      <br/>

      <li class="day-availability-list-element">
        <h2>Saturday</h2>
        <% if @availability.saturday != [] %>
          <%= f.time_select :saturday_start_time, minute_step: 30, start_hour: @availability.saturday[0].to_i, end_hour: @availability.saturday[1].to_i, time_separator: ':' %> to
          <%= f.time_select :saturday_end_time, minute_step: 30, start_hour: @availability.saturday[0].to_i, end_hour: @availability.saturday[1].to_i, time_separator: ':' %>
        <% else %>
          No times available
        <% end %>
      </li>
    </ul>
    <%= f.submit "Request Kitchen" %>
  <% end %>
</div>
