<body class="kitchen-listing-body">
<%= render("shared/menu") %>

<div class="listing-container">
  <section class="listing-head-container clearfix">
    <h2 class="listing-title"><%= @kitchen.title %></h2>
    <ul class="listing-details-list">
      <li><%= @kitchen.location %></li>
      <li><%= current_user.id %></li>
      <!-- <li>Portland, OR, USA</li>
      <li>465 Square Meters</li> -->
      <li>2 Reviews</li>
    </ul>
  </section>

  <section class="listing-date-container clearfix">
    <form class="listing-dates-form">
      <label class="listing-date-label" for="start-date">Dates</label>
      <input class="listing-start-date" title="start-date" type="date" id="start-date">
      <input class="listing-end-date" title="end-date" type="date">
    </form>
    <div class="listing-price-container">
        <span class="listing-price">
          <span class="price-math">£<%= @kitchen.price %>/day * 2 days =</span>
          <span class="listing-total-price">$920</span>
        </span>
      <button class="transparent-button listing-book-button">
        Request Kitchen
      </button>
    </div>
  </section>

  <section class="listing-images-container">
    <%= image_tag "sampleKitchens/3.jpeg", class: "listing-image" %>
  </section>

  <section class="listing-details-container">
    <article class="listing-description">
      <h2 class="listing-details-heading">Description</h2>
      <p>
        <%= @kitchen.description %>
      </p>
      <!-- <p>
        Meatloaf ham hamburger shoulder pork belly venison fatback shankle pork bresaola prosciutto. Pig short loin
        swine prosciutto ball tip drumstick ribeye pork loin tri-tip pork chop. Turkey beef ribs beef kevin flank. Kevin
        leberkas bresaola frankfurter pig tri-tip andouille. Beef turducken filet mignon, ribeye tongue kielbasa
        bresaola shank ground round meatloaf bacon. Turkey cupim ground round chuck pork belly pork chop. Picanha ham
        hock leberkas, kevin drumstick alcatra beef bacon brisket.
      </p> -->
    </article>
    <article class="listing-features">
      <h2 class="listing-details-heading">Washing Station</h2>
      <ul class="listing-features-list">
        <% @kitchen.washing_station.each do |washing_station| %>
          <li><%= washing_station %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Food Preparation</h2>
      <ul class="listing-features-list">
        <% @kitchen.food_preparation.each do |food_preparation| %>
          <li><%= food_preparation %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Cookware</h2>
      <ul class="listing-features-list">
        <% @kitchen.cookware.each do |cookware| %>
          <li><%= cookware %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Storage</h2>
      <ul class="listing-features-list">
        <% @kitchen.storage.each do |storage| %>
          <li><%= storage %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Refrigeration</h2>
      <ul class="listing-features-list">
        <% @kitchen.refrigeration.each do |refrigeration| %>
          <li><%= refrigeration %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Ovens/Fryers</h2>
      <ul class="listing-features-list">
        <% @kitchen.ovens_fryers.each do |ovens_fryers| %>
          <li><%= ovens_fryers %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Oven Equipment &amp; Storage</h2>
      <ul class="listing-features-list">
        <% @kitchen.oven_equipment_and_storage.each do |oven_equipment_and_storage| %>
          <li><%= oven_equipment_and_storage %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Baking &amp; Pastry</h2>
      <ul class="listing-features-list">
        <% @kitchen.baking_and_pastry.each do |baking_and_pastry| %>
          <li><%= baking_and_pastry %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Other Equipment</h2>
      <ul class="listing-features-list">
        <% @kitchen.other_equipment.each do |other_equipment| %>
          <li><%= other_equipment %></li>
        <% end %>
      </ul>

      <h2 class="listing-details-heading">Other Amenities</h2>
      <ul class="listing-features-list">
        <% @kitchen.other_amenities.each do |other_amenities| %>
          <li><%= other_amenities %></li>
        <% end %>
      </ul>

    </article>
  </section>
</div>
</body>
