<body class="request-kitchen-body" data-js="kitchen-request">
<%= render("shared/menu") %>

<section class="request-kitchen-main-container clearfix">
  <div class="request-kitchen-details-container">
    <h1 class="request-kitchen-details-header">1. Additional Information</h1>
    <fieldset class="kitchen-request-additional-info-fieldset">
      <label class="additional-info-label" for="additional-info">Additional information you would like to share with the
        owner:</label>
      <textarea class="kitchen-request-additional-info-input" id="additional-info"></textarea>
    </fieldset>
    <h1 class="request-kitchen-details-header">2. Payment</h1>
    <h2 class="payment-details">Please enter your payment information below. Note that you will not be charged until the
      kitchen owner accepts your request.</h2>

    <form action="<%= charges_path %>" method="POST" class="payment-form" data-stripe-key="<%= ENV["publishable_key"] %>">
      <span class="payment-errors"></span>

      <ul class="payment-field-list">
        <li class="payment-field clearfix">
          <div class="payment-field-left">
            <label for="payment-cc-number">Card Number</label>
            <input id="payment-cc-number" type="number" size="20" data-stripe="number" class="payment-cc-number">
          </div>
          <div class="payment-field-right">
            <label for="payment-cvc">CVC</label>
            <input id="payment-cvc" type="number" size="4" data-stripe="cvc" class="payment-cvc">
          </div>
        </li>
        <li class="payment-field">
          <label for="payment-zip">Zip</label>
          <input id="payment-zip" type="number" data-strip="address_zip" class="payment-zip">
        </li>
        <li class="payment-field">
          <label for="payment-expiration">Expiration</label>
          <select id="payment-expiration" data-stripe="exp_month" class="payment-expiration-month">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
          <select data-stripe="exp_year" class="payment-expiration-year">
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
            <option value="2026">2026</option>
            <option value="2027">2027</option>
            <option value="2028">2028</option>
            <option value="2029">2029</option>
            <option value="2030">2030</option>
            <option value="2031">2031</option>
            <option value="2032">2032</option>
            <option value="2033">2033</option>
            <option value="2034">2034</option>
            <option value="2035">2035</option>
          </select>
        </li>
        <li class="payment-field">
          <input type="submit" value="Submit Payment" class="transparent-button payment-submit">
        </li>
      </ul>
    </form>

  </div>
  <aside class="request-kitchen-sidebar">
    <div class="kitchen-request-side-image-container"></div>
    <h1 class="request-kitchen-title"><%= @kitchen.title %></h1>
    <h2 class="request-kitchen-address"><%= @censored_address %></h2>
    <ul class="kitchen-tag-list clearfix">
      <li class="kitchen-tag"><%= @kitchen.size %></li>
      <li class="kitchen-tag"><%= @kitchen.rental_space %></li>
    </ul>
    <div class="request-kitchen-side-details-container">
      <div class="request-kitchen-date"><%= @reservation.start_date.strftime("%B %d, %Y") %><!--June 6, 2016--></div>
      <div class="request-kitchen-start-time">1:30 PM</div>
      <div class="request-kitchen-end-time">6:30 PM</div>
      <span class="clearfix"></span>
    </div>

    <!--TODO: Replace with actual data-->
    <ul class="request-kitchen-price-list">
      <li class="request-kitchen-price-element clearfix">
        <span class="kitchen-price-calculation">£<%= @kitchen.price %> x <span class="kitchen-price-num-hours">5</span> hours</span>
        <span class="kitchen-price-total">£<%= @kitchen.price * 5 %></span>
      </li>
      <li class="request-kitchen-total-price clearfix">
        <span class="kitchen-price-total-label">Total</span>
        <span class="kitchen-price-total">£<%= @kitchen.price * 5 %></span>
      </li>
    </ul>
  </aside>
</section>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_ERBycpYd4txIp1ab8VjIPMQe');

  $(function() {
    var $form = $('#payment-form');
    $form.submit(function(event) {
      // Disable the submit button to prevent repeated clicks:
      $form.find('.submit').prop('disabled', true);

      // Request a token from Stripe:
      Stripe.card.createToken($form, stripeResponseHandler);

      // Prevent the form from being submitted:
      return false;
    });
  });

  function stripeResponseHandler(status, response) {
    // Grab the form:
    var $form = $('#payment-form');

    if (response.error) { // Problem!

      // Show the errors on the form:
      $form.find('.payment-errors').text(response.error.message);
      $form.find('.submit').prop('disabled', false); // Re-enable submission

    } else { // Token was created!

      // Get the token ID:
      var token = response.id;

      // Insert the token ID into the form so it gets submitted to the server:
      $form.append($('<input type="hidden" name="stripeToken">').val(token));

      // Submit the form:
      $form.get(0).submit();
    }
  };

</script>


</body>
