<h2>Reservation Information</h2>

<%= form_for @reservation, url: { action: "create" } do |f| %>

  <%= f.hidden_field :renter_id, value: current_user.id %>
  <%= f.hidden_field :kitchen_id, value: @kitchen.id %>

  <p>Start</p>
  <%= f.datetime_local_field :start_time %>

  <p>End</p>
  <%= f.datetime_local_field :end_time %>

  <%= f.submit "Make Reservation" %>


<% end %>
