<!DOCTYPE html>
<html>
<head>
  <title>ShareDining</title>
  <link rel="shortcut icon" href="<%= image_url('global/favicon.ico') %>" type="image/x-icon"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<p class="notification"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</html>
